# MacOS / Windows 等系统文件
.DS_Store
# Node 依赖目录
node_modules/
# 输出目录
/dist/
# 日志
npm-debug.log*
yarn-debug.log*
yarn-error.log*
selenium-debug.log
# 运行时数据
*.tsbuildinfo
pids
*.pid
*.pid.lock
/test/unit/coverage/
/test/e2e/reports/

# 全局系统变量
.env.production
.env.development

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.map

